.body{margin-top: 20px;
    margin-right: 0px;
    padding-left: 20px;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    
}


.headline{background-color: rgba(0, 59, 252, 0.774);
    font-style: italic;
padding-bottom: 10px;}

.main>h2{background-color: rgba(0, 59, 252, 0.774);
font-style: italic;
margin-right: 10px;
width: 150px;}

.main{background-color: blueviolet;
    margin-left: 100px;
}

h1,h2{text-decoration: underline;}
