.body{margin-top: 20px;
    margin-right: 30px;
    padding-left: 20px;
    background-color: lightblue;}

.headline{background-color: rgba(0, 59, 252, 0.774);
    font-style: italic;
padding-bottom: 10px;}

.main>p:first-line{background-color: rgba(0, 59, 252, 0.774);
font-style: italic;
font-size: 20px;
margin-right: 10px;}

.main{background-color: blueviolet;}
h2{text-decoration: underline;}

