
    
   


body{font-family: Verdana, Geneva, Tahoma, sans-serif;}

header>div{background-color: rgb(243, 243, 243);
height: 200px;
display: flex;
flex-direction: column;
padding-left: 100px;}

header>div>h4{color: rgb(162, 169, 177);
margin-top: -5px; 
font-weight: 150;  }



/* bar section    */

.top{position: relaive;
display:flex;
padding-left: 100px;
height: 75px;
padding-top: 20px;}

.top>div>a{ text-decoration: none;
    font-size: 20px;
    font-weight: 550;
    color: black;
    margin-right: 20px;}

    .top>div a:active,a:hover{color: grey;}
   



    /* image */

    aside{position: relative;
height: 600px;}

aside>img{width: 100%;
height: 100%;}
  
  
    /* main section // paragraph */

    main{position: relative;
    display: flex;
flex-direction:row ;
margin-top: 30px;}
 
main>article{margin-left: 100px;
    margin-right: 100px;
      top: 30px;}

main>article>h3{text-transform: uppercase;}

main>article>p{color: rgb(126, 126, 126);}

main>section{top: 30px;
    padding-right: 200px;}

main>section :nth-child(1) {text-transform: uppercase;}
main>section p{color: rgb(126, 126, 126) ;}


/* logos */

.logo{position: relative;
display: flex;
flex-direction: row;
height: 600px;
margin-top: 30px;}

.gallery{width: 500px;
margin-left: 100px;}

.gallery :nth-child(1){text-transform: uppercase;}

.logo>div>p{ color: rgb(126, 126, 126) ;}

.logotypes{ width: 700px;
text-transform: uppercase;}

.logotypes a{padding: 20px;}


/* footer*/ 

.footer{ position: relative;
    display: flex;
    flex-direction: row;
    height: 500px;
    color: white;
    background-color: #8000ff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;}

.footer h3{text-transform: uppercase;}

.find-us{margin-right: 150px;
    padding-left: 100px;
    width: 300px;
    top: 30px;}

.find-us :nth-child(3){text-transform: uppercase;}

.about,.archives{margin-right: 150px;
    width: 200px;
    top: 30px; }

    .navigation{ top: 30px;
    margin-right: 100px;}

.navigation a,.archives a{display: block;
    color: white;
    text-decoration: none;
    line-height: 3;
    text-transform: capitalize;
    font-size: large;
    border-bottom: 1px solid  rgb(152, 120, 190) }

    .navigation>a>:nth-child(3){padding-left: 50px;}

    /* responsive */
    
 @media screen and (max-width:1024px){
    
    header{width: 100%;}

        header>div{padding-top: 50px;
               font-size: 100%;}

             .top { height: 120px;}
        
             .top>div>a{display: block;}
  
    img {width: 100%;
       height: 200px;}

    main { 
        flex-direction: column-reverse;
        top: 10px;}

         main>section{padding-left:  100px;}
              

        .practical {font-size: 85%;
                    }

            .web {font-size: 80%;}

            .logo{
                flex-direction: column;
               height: 2200px; 
               margin-left: 50p;}

            .gallery{font-size: 250%;
                margin-left: 100px;
                }    

             .logotypes{padding-left: 100px;
            font-size: 200%;}
            
             .logotypes>div>a>img { 
                    flex-wrap: wrap;
                    width: 250px;
                    height: 250px;
                    padding: 10px;}
                            
    .footer {font-size: 200%;
         display: flex;
         flex-direction: column;
         width: 100%;
         height: 100%;
         padding-left: 70px;}

         .about{width: 100%;;}

     .find-us{padding-left: 10px;
    width: 100%;}

     .archives>a{font-size: 100%;
    width: 150%;
    border-bottom: 2px solid  rgb(152, 120, 190) }
 
     .navigation{ display: none;}
       }
