* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('bg.jpg');
    font-family: cursive;
    display: flex;
    margin: 20px;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

li {
    list-style-type: none;
    border: 3px solid firebrick;
    padding: 5px;
    margin: 5px;
}

input {
    width: 50%;
    max-width: 100%;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgb(225, 222, 65);
    color: rgb(43, 46, 223);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid white;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

button {
    border-radius: 50px;
    height: 70px;
    width: 100px;
    background-color: greenyellow;
    color: grey;
}